
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: .01fr .7fr .07fr 1fr 1fr .5fr .1fr;
  grid-template-areas: 
    "nav nav"
    "main picture"
    "benefits benefits"
    "testimonio testimonio"
    "CTA CTA"
    "map address"
    "footer footer";
}

nav {
  grid-area: nav;
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  background-color: #0A7B83;
  padding: 0;
  font-size: xx-large;
  
}

nav > ul {
  display: flex;
  flex-direction: row;
  gap: 15px;
  vertical-align: text-bottom;
  
  
}

nav > ul > li {
  list-style-type: none;
  font-family: 'Oswald', sans-serif;
  color: white;
  padding-bottom: .2em;
  padding-right: .2em;
  padding-left: .2em;
}

.logo {
  padding-left: .3em;
}

.logo {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  color: white;
  letter-spacing: .2em;
  font-size: x-large;
}

button {
  transition: all .5s ease;
  margin-top: 1em;
  padding: .5em .5em;
  background-color:#FFD265;
  border-radius: 5px;
  border-width: 2px;
  width:fit-content;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  letter-spacing: .2em;
  
}

main {
  grid-area: main;
  background-color: #abf5fe;
  display: flex;
  flex-direction: column;
  justify-content:center ;
  padding-left: 5%;
}

main > h4 {
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  font-size: 3em;
  line-height: 1em;
  word-spacing: .2em;
  
}

main > h5 {
  margin-top: 10px;
  font-family: 'Source Serif Pro', serif;
  font-weight: 400;
  font-size: 1.3em;
  line-height: 1.5em;
}

.picture {
  grid-area: picture;
  background-image: url(assets/logoSanar.png);
  background-size: 23rem;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #abf5fe;
}

.benefits {
  grid-area: benefits;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "benefit1 benefit2 benefit3";
}

.benefit1 {
  grid-area: benefit1;
  flex: 0 1 auto;  
  background-color: #2AA876;
  padding: 1em 1em 1em 1em;
}

.benefit2 {
  grid-area: benefit2;
  flex: 0 1 auto;
  background-color: #0A7B83;
  padding: 1em 1em 1em 1em;
}
.benefit3 {
  grid-area: benefit3;
  flex: 0 1 auto;
  background-color:#F19C65;
  padding: 1em 1em 1em 1em;
}

#benefitschild > h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  color: white;
  font-size: xx-large;
  
}

#benefitschild > p {
  font-family: 'Source Serif Pro', serif;
  font-weight: 400;
  text-align: justify;
  color: beige;
  font-size: large;
} 

.benefit1 > img {
  float: left;
  width: 3em;
  margin-right: 1em;
}
.benefit2 > img {
  float: left;
  width: 3em;
  margin-right: 1em;
}
.benefit3 > img {
  float: left;
  width: 3em;
  margin-right: 1em;
}
.testimonials {
  grid-area: testimonio;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: .2fr 1fr 1fr;
  grid-template-areas: 
    "title title title"
    "testi1 testi2 testi3"
    "testi4 testi5 testi6";

}

#testimonio-title {
  grid-area: title;
  text-align: center;
  padding: .5em;
  background-color: #abf5fe;
  font-family: 'Oswald', sans-serif;
  font-size: x-large;

}

#testi1 {
  grid-area: testi1;
  background-color: #abf5fe;
}

#testi2 {
  grid-area: testi2;
  background-color: #abf5fe;
}

#testi3 {
  grid-area: testi3;
  background-color: #abf5fe;
}

#testi4 {
  grid-area: testi4;
  background-color: #abf5fe;
}

#testi5 {
  grid-area: testi5;
  background-color: #abf5fe;
}

#testi6 {
  grid-area: testi6;
  background-color: #abf5fe;
}



.CTA {
  grid-area: CTA;
  background-color: #abf5fe;
}

.CTApicture {
  grid-area: CTApicture;
}

.map {
  grid-area: map;
  background-color: #2AA876;
  color: white;
  font-family: 'Source Serif Pro', serif;
  font-size: xx-large;
  text-align: left;
  padding-left: .3em;
  padding-top: 10%;
}



.address {
  grid-area: address;
  background-image: url(assets/MapaSanarGoogle.png);
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
  
}



footer {
  grid-area: footer;
  background-color:#0A7B83 ;
}

li:hover{
  background-color: #2AA876;
  
    
}

button:hover {
  padding: 1em 1em;
}




